/* prefers-color-scheme 
*/
@media(prefers-color-scheme:light) {
  body {
    color: black;
    background-color: white;
  }
}


body {
  margin: 0;
}

.lyrics{
  padding: 30px;
  text-align: center;
}

.dark{
  color:white;
  background: black;
}


.album{
  width: 400px;
}